---
layout: default
title: Home
id: home
---
<h1>Programmable Processes for Redmine in the Terminal</h1>

<p>Instead of <em>tediously clicking</em> through the Redmine user interface and doing the same thing <em>over and over</em> again, you can describe how it works once. Then you can execute the process in the <em>terminal</em>. <strong>redmineBOOST</strong> will ask you for the necessary data and do the rest. Increase the productivity of your daily work with Redmine by using <strong>redmineBOOST</strong> in the <em>terminal</em>.</p>

<h2>An Example</h2>

<p>Let's say you track issues for a project in Redmine. The sample process described creates an issue and asks for a project, subject, tracker, description and note. The command line based execution of a <strong>redmineBOOST</strong> process might look like this:</p>

{% include window-console-redmine-boost.html %}

<p>Simple, right? To illustrate how much you had to type, the user input is <span class="user-input">highlighted</span>. Now let's see what it would look if you did it all in the Redmine user interface:</p>

<!-- Redmine create issue -->
{% include window-redmine-create-issue.html %}
<!-- Redmine show issue -->
{% include window-redmine-show-issue.html %}
<!-- Redmine edit issue -->
{% include window-redmine-edit-issue.html %}

<p>That's a lot of user interaction. And we haven't even bothered to add everything you need to do.</p>

<h2>Benefits</h2>

<p>With <strong>redmineBOOST</strong> even the simplest tasks can be <em>boosted</em>.</p>
<div class="benefit">
    <p class="heading">Define and Deploy Processes</p>
    <p class="details">Instead of documenting processes and then training users on how to map them in Redmine, define them in a <strong>redmineBOOST</strong> process and reuse them. Done!</p>
</div>
<div class="benefit">
    <p class="heading">Versioned Processes</p>
    <p class="details"><strong>redmineBOOST</strong> processes are stored in files. Each file can be versioned. Backup. Modify. Examine. Evolve.</p>
</div>
<div class="benefit">
    <p class="heading">Reduced Navigation in Redmine</p>
    <p class="details">You don't have to navigate to a specific project and then go through the steps of your process, you just run the <strong>redmineBOOST</strong> process. Done!</p>
</div>
<div class="benefit">
    <p class="heading">Data Input is Collected Efficiently</p>
    <p class="details">No need to re-enter the same information each and every time. It's written once and used.</p>
</div>
<div class="benefit">
    <p class="heading">Use Redmine Constructs the Way they are Meant to be Used</p>
    <p class="details">Creating projects with specific module configurations, roles and users - no problem. Nesting and linking issues - no problem. It all happens automatically with <strong>redmineBOOST</strong>.</p>
</div>

<h2>Process Description</h2>
<p>And <em>how</em> does it work? The following figure shows the example <strong>redmineBOOST</strong> process described above. A <a href="documentation/language-guide">domain specific language</a> is used for description.</p>
{% include window-file-new-issue.html %}
<script src="{{ "/assets/js/replacer.js" | relative_url }}"></script>
<script src="{{ "/assets/js/os-style.js" | relative_url }}"></script>