---
layout: default
title: Home
id: home
---
<h1>Programmable Processes for Redmine</h1>

<p>Instead of <em>tedious clicking</em> through the Redmine user interface and doing the same things <em>over and over</em> again, you can describe how it works once. Then you can execute the process from the <em>command line</em>. <strong>redmineBOOST</strong> will ask you for the necessary data and will take care of the rest. Boost the productivity of your daily work with Redmine using <strong>redmineBOOST</strong> on the command line.</p>

<h2>An Example</h2>

<p>Let's say you track issues for a project in Redmine. The example process described creates an issue and asks for a project, subject, tracker, description and note. The command line based execution of a <strong>redmineBOOST</strong> process might look like the following:</p>

{% include window-console-redmine-boost.html %}

<p>Easy, right? To clarify how much you had to type, the user input is <span class="user-input">emphasised</span>. Now let's see how this would look if you did it all in the Redmine user interface:</p>

<!-- Redmine create issue -->
{% include window-redmine-create-issue.html %}
<!-- Redmine show issue -->
{% include window-redmine-show-issue.html %}
<!-- Redmine edit issue -->
{% include window-redmine-edit-issue.html %}

<p>That's a lot of user interaction. And we didn't even bother to add everything you need to do.</p>

<h2>Benefits</h2>

<p>With <strong>redmineBOOST</strong> even simple tasks get <em>boosted</em>.</p>
<div class="benefit">
    <p class="heading">Define processes and use them</p>
    <p class="details">Instead of documenting processes and then training users how to map it in Redmine, define it within a <strong>redmineBOOST</strong> process and reuse it. Done!</p>
</div>
<div class="benefit">
    <p class="heading">Versioned processes</p>
    <p class="details"><strong>redmineBOOST</strong> processes are stored in files. Each file can be versioned. Backup. Change. Introspect. Evolve.</p>
</div>
<div class="benefit">
    <p class="heading">Reduced navigation in Redmine</p>
    <p class="details">You don't have to navigate to a specific project and then go through the steps of your process, you just execute the <strong>redmineBOOST</strong> process. Done!</p>
</div>
<div class="benefit">
    <p class="heading">Data inputs are collected efficiently</p>
    <p class="details">No re-entering the same information each and every time. It's written once and used.</p>
</div>
<div class="benefit">
    <p class="heading">Use Redmine constructs as they are meant to be used</p>
    <p class="details">Creating projects with specific module configurations, roles and users - no problem. Nesting issues and linking them - no problem. All that is done automatically with <strong>redmineBOOST</strong>.</p>
</div>

<h2>Process Description</h2> 
<p>And <em>how</em> does it work? The following figure shows the described example <strong>redmineBOOST</strong> process from above. A <a href="documentation/language-guide">domain specific language</a> is used for description.</p>
{% include window-file-new-issue.html %}
<script src="{{ "/assets/js/replacer.js" | relative_url }}"></script>
<script src="{{ "/assets/js/os-style.js" | relative_url }}"></script>