<div class="replace-os window browser">
    <div class="replace-os window-title-bar">
        <div class="replace-os controls close"></div>
        <div class="replace-os controls minimize"></div>
        <div class="replace-os controls maximize"></div>
        <div class="replace-os window-title">Redmine - Show Issue</div>
        <div class="replace-os browser-address-bar">www.redmine.org/issues/<span class="issue-number-text">2</span></div>
    </div>
    <div class="window-content">
        <div class="created-issue-banner">✔︎ issue #<span class="issue-number-text">42</span> created</div>
        <h2 class="issue"><span class="tracker-2-text">Tracker</span> #<span class="issue-number-text">42</span><span class="edit user-input">✏️</span></h2>
        <div class="show-issue-frame">
            <h3 class="issue-text">Example Issue</h3>
            <p>Added by <span class="assignee-text">User</span> <span class="issue-create-date">just now</span>.</p>
            <table>
                <tbody>
                    <tr>
                        <td class="issue-attribute-label">Status</td>
                        <td class="issue-attribute-value">New</td>
                        <td class="issue-attribute-label">Start date</td>
                        <td class="issue-attribute-value">today</td>
                    </tr>
                    <tr>
                        <td class="issue-attribute-label">Priority</td>
                        <td class="issue-attribute-value">Normal</td>
                        <td class="issue-attribute-label">Due Date</td>
                        <td class="issue-attribute-value"><span class="issue-due-date-text">today + 30d</span></td>
                    </tr>
                    <tr>
                        <td class="issue-attribute-label">Assignee</td>
                        <td class="issue-attribute-value"><span class="assignee-text">User</span></td>
                        <td class="issue-attribute-label">% Done</td>
                        <td class="issue-attribute-value">0%</td>
                    </tr>
                    <tr>
                        <td class="issue-attribute-label">Tracker</td>
                        <td class="issue-attribute-value"><span class="tracker-2-text">Tracker</span></td>
                        <td class="issue-attribute-label"></td>
                        <td class="issue-attribute-value"></td>
                    </tr>
                </tbody>
            </table>
            <p class="issue-description-text">Example description</p>
        </div>
    </div>
</div>