<div class="window console">
    <div class="replace-os window-title-bar">
        <div class="replace-os controls close"></div>
        <div class="replace-os controls minimize"></div>
        <div class="replace-os controls maximize"></div>
        <div class="replace-os window-title">user - rboost - 80 x 10</div>
    </div>
    <div id="redmine-boost-console-window" class="window-content">
        <div class="text">user@host: <span class="user-input">rboost new-issue.rbo</span></div>
        <div class="text">Creating Issue</div>
        <div class="text">Select project:<br/>
Project#1: <span class="project-1-text">Project1</span><br/>
Project#2: <span class="project-2-text">Project2</span><br/>
Project#3: <span class="user-input project-3-text">Project3</span></div>
        <div class="text">Executed Choice:<br/>
&nbsp;&nbsp;value: Project#3: <span class="project-3-text">Project3</span>
        </div>
        <div class="text">Issue subject: <span class="user-input issue-subject-text">Issue</span></div>
        <div class="text">Executed LineInput:<br/>
&nbsp;&nbsp;value: <span class="issue-subject-text">Issue</span></div>
        <div class="text">Select tracker:<br/>
Tracker#1: <span class="tracker-1-text">Bug</span><br/>
Tracker#2: <span class="user-input tracker-2-text">Feature</span></div>
        <div class="text">Executed Choice:<br/>
&nbsp;&nbsp;value: Tracker#2: <span class="tracker-2-text">Feature</span></div>
        <div class="text">Issue description: <span class="user-input issue-description-text">Example description</span></div>
        <div class="text">Executed TextInput:<br/>
&nbsp;&nbsp;value: <span class="issue-description-text">Example description</span></div>
        <div class="text">Issue note: <span class="user-input note-text">Lorem ipsum …</span></div>
        <div class="text">Executed TextInput:<br/>
&nbsp;&nbsp;value: <span class="note-text">Lorem ipsum …</span></div>
        <div class="text">Create Issue<br/>
&nbsp;&nbsp;assignedTo: <span class="assignee-text">User</span><br/>
&nbsp;&nbsp;project: <span class="project-3-text">Project3</span><br/>
&nbsp;&nbsp;subject: <span class="issue-subject-text">Issue</span><br/>
&nbsp;&nbsp;tracker: <span class="tracker-2-text">Tracker</span><br/>
&nbsp;&nbsp;description: <span class="issue-description-text">Example description</span><br/>
&nbsp;&nbsp;notes:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;* Create Note<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text: <span class="note-text">Notes</span></div>
        <div class="text">Created Issue#<span class="issue-number-text">2</span></div>
        <div class="text">user@host: <span class="text-cursor">_</span></div>
    </div>
</div>
<script src="{{ "/assets/js/console-animation.js" | relative_url }}"></script>
