<div class="replace-os window browser">
	<div class="replace-os window-title-bar">
		<div class="replace-os controls close"></div>
		<div class="replace-os controls minimize"></div>
		<div class="replace-os controls maximize"></div>
		<div class="replace-os window-title">Redmine - Create Issue</div>
		<div class="replace-os browser-address-bar">www.redmine.org/issues/new</div>
	</div>
	<div class="window-content">
		<h2 class="issue">New Issue</span></h2>
		<div class="new-issue-frame">
			<p><label>Project <span class="required">*</span></label><select class="user-input">
				<option class="project-1-text" disabled>Project1</span></option>
				<option class="project-2-text" disabled>Project2</span></option>
				<option class="project-3-text" selected>Project3</span></option>
			</select></p>
			<p><label>Subject <span class="required">*</span></label><input class="user-input issue-subject-attribute-value issue-subject-attribute-placeholder" type="text" placeholder="Subject" value="Subject"></p>
			<p><label>Tracker <span class="required">*</span></label><select class="user-input">
				<option class="tracker-1-text" disabled>>Tracker1</span></option>
				<option class="tracker-2-text" selected>>Tracker2</span></option>
			</select></p>
			<p><label>Description</label><textarea id="input-description" class="user-input issue-description-text issue-description-attribute-placeholder" placeholder="Description" rows="5"></textarea></p>
			<p><label>Status <span class="required">*</span></label><select>
				<option selected>New</option>
			</select></p>
			<p><label>Priority <span class="required">*</span></label><select>
				<option disabled>Low</option>
				<option selected>Normal</option>
				<option disabled>High</option>
				<option disabled>Urgent</option>
				<option disabled>Immediate</option>
			</select></p>
			<p><label>Assignee</label><select class="user-input">
				<option selected><< me >></option>
			</select></p>
			<button>Submit</button><button>Cancel</button>
		</div>
	</div>
</div>